<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Waves Slides</title>
    <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/hipwaveslideshomepage/css/style.less') }}"/>

    <script src="{{ asset('bundles/hipwaveslideshomepage/js/utils/less-1.3.3.min.js') }}"></script>
</head>
<body>

<div class="wrapper">

    <div class="header">
        <p class="subtitle">weatherproofed online presentation tool.</p>
    </div>

    <div class="main">
        <div class="left">
            <div class="teaser play">
                <img src="{{ asset('bundles/hipwaveslideshomepage/images/playIcon.png') }}"/>

                <p>
                    Play your slides everywhere.<br/>
                    But be aware of high tides.
                </p>

                <div class="clear"></div>
            </div>
            <div class="teaser demo">
                <img src="{{ asset('bundles/hipwaveslideshomepage/images/demoIcon.png') }}"/>

                <p>
                    Dive right into it.<br/>
                    Watch the demo.
                </p>

                <div class="clear"></div>
            </div>
        </div>
        <div class="right">
            <div class="teaser cloud">
                <img src="{{ asset('bundles/hipwaveslideshomepage/images/cloudIcon.png') }}"/>

                <p>
                    Edit and save your slides<br/>
                    in the stormy cloud.
                </p>

                <div class="clear"></div>
            </div>
            <div class="teaser share">
                <img src="{{ asset('bundles/hipwaveslideshomepage/images/shareIcon.png') }}"/>

                <p>
                    Drowning in work?<br/>
                    Share and collaborate in real-time
                </p>

                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</div>

</body>
</html>