<div style="display: none;" class="chatContainer minimized">

    <div class="chatTitleBar">
        <p>Chat <span id="unreadMessageCount"></span></p>

        <div class="muteButton"></div>
        <div class="minimizeIndicator"></div>
    </div>

    <div class="chatBox">
        <div id="sound"></div>
        <div class="conversations"></div>
        <div class="chatInput"><input type="text" placeholder="{{ strings.write_something }}"/></div>
    </div>

</div>