<div style="display: none" class="ui-color-slider {% block class %}rgb{% endblock %}">
    <div class="red row">
        <div class="background"></div>
        <canvas width="160" height="10"></canvas>
        <div class="slider"></div>
        <input value="0" type="text"/>
    </div>
    <div class="green row">
        <div class="background"></div>
        <canvas width="160" height="10"></canvas>
        <div class="slider"></div>
        <input value="0" type="text"/>
    </div>
    <div class="blue row">
        <div class="background"></div>
        <canvas width="160" height="10"></canvas>
        <div class="slider"></div>
        <input value="0" type="text"/>
    </div>
    {% block alpha %}{% endblock %}
</div>