{% extends 'HIPWaveSlidesBundle:Editor:colorpicker_rgb.html.twig' %}

{% block class %}rgba{% endblock %}

{% block alpha %}
    <div class="alpha row">
        <div class="background"></div>
        <canvas width="160" height="10"></canvas>
        <div class="slider"></div>
        <input value="0" type="text"/>
    </div>
{% endblock %}