{% extends "HIPWaveSlidesBundle::base.html.twig" %}

{% block html_style %}background-color: white;{% endblock %}

{% block title %}WaveSlides Editor{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/jquery.mCustomScrollbar.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/spectrum.css') }}"/>
    <link rel="stylesheet/less" href="{{ asset('bundles/hipwaveslides/css/editor.less') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/highlightjs/styles/default.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/build/out/editor.lib.build.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/EditorConfig.js') }}"></script>
    <script type="text/javascript">
        var DECK_ID = "{{ deck_id }}";
        var SESSION_ID = "{{ app.user.session.id }}";
        var USER_ID = "{{ app.user.id  }}";
        var WS_URL = "{{ ws_ip }}";
        var CON_ID = "";
    </script>
{% endblock %}

{% block body_style %}background-color: white;{% endblock %}

{% block body %}
    <div style="margin-left: auto; margin-right: auto; margin-top: 50px; width: 215px;" class="waveloader"><img src="{{ asset('bundles/hipwaveslides/images/waveloader.gif') }}"/></div>

    <div style="display: none;" class="waveeditor">

        {{ include('HIPWaveSlidesBundle:Editor:toolbar.html.twig') }}

        <div class="ui-main-view" style="position: relative">

            <div style="min-height: 100%; position: absolute;" class="uiSlideSidebar"></div>

            <div class="main">

                <div class="uiSlideContainer">

                    <div class="flash-container">
                        <div class="message"></div>
                    </div>

                    <div class="uploads" style="display: none">
                        <div style="display: none" class="clone upload">
                            <div class="info">
                                <span class="filename"></span>, <span class="uploadedsize">0</span> kb / <span class="totalsize">0</span> kb
                            </div>
                            <div class="barwrapper"><span style="width: 0%;" class="bar"></span></div>
                        </div>
                    </div>

                    <div style="display: none" class="uiDropoverlay">
                        <div class="inner">
                            <p style="display: none;" class="dragInfo">{{ strings.drag_images_here }}</p>
                            <p style="display: none;" class="dropInfo">{{ strings.place_images_here }}</p>
                        </div>
                    </div>

                </div>

                <div class="connectedUsersPanel">
                    <div class="users"></div>
                </div>

            </div>

            {{ include ('HIPWaveSlidesBundle:Editor:properties.html.twig') }}

            <div class="clear"></div>

        </div>

    </div>

    <div style="display: none" class="resizeTooltip"></div>

    {{ include ('HIPWaveSlidesBundle:Editor:colorpicker_rgb.html.twig') }}

    {{ include ('HIPWaveSlidesBundle:Editor:colorpicker_rgba.html.twig') }}

    {{ include ('HIPWaveSlidesBundle:Editor:chat.html.twig') }}

{% endblock %}