<div class="left properties">

    <div style="display: none" class="window element">

        <div class="panel title">
            <div class="elementIcon left icon"></div>
            <span class="name left"></span>

            <div class="clear"></div>
        </div>

        <div style="display: none" class="panel imageView">
            <p class="title">{{ strings.info }}:</p>

            <div>{{ strings.original_width }}: <span class="originalWidth"></span>px</div>
            <div>{{ strings.original_height }}: <span class="originalHeight"></span>px</div>
        </div>

        <div style="display: none" class="panel scriptView">
            <p class="title">{{ strings.language }}:</p>

            <select class="language" name="language">
                {% for language in languages %}
                    <option data-css="{{ language.css }}" value="{{ language.value }}">{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="panel appearance">
            <p class="title">{{ strings.appearance }}</p>

            <div class="option alpha">

                <div class="left" style="margin-right: 16px;">{{ strings.opacity }}: <span class="alpha"></span></div>
                <input value="0" class="ui-number-spinner propertyAlphaSpinner"/>

                <div class="clear"></div>
            </div>
            <div class="option background">
                <div class="left" style="margin-right: 16px;">{{ strings.background_color }}: <span class="alpha"></span></div>
                <div class="left ui-color-field">
                    <div class="color"></div>
                    <div class="placeholder"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="panel bounds">
            <p class="title">{{ strings.bounds }}:</p>

            <div class="option">
                <div class="left label">{{ strings.width }}:</div>
                <input value="0" class="ui-number-spinner propertyWidthSpinner"/>

                <div style="width: 15px;" class="left label">X:</div>
                <input value="0" class="ui-number-spinner propertyXSpinner"/>

                <div class="clear"></div>
            </div>

            <div class="option">
                <div class="left label">{{ strings.height }}:</div>
                <input value="0" class="ui-number-spinner propertyHeightSpinner"/>

                <div style="width: 15px;" class="left label">Y:</div>
                <input value="0" class="ui-number-spinner propertyYSpinner"/>

                <div class="clear"></div>
            </div>
        </div>

    </div>

    <div class="window slide">
        <div class="title">
            <div class="left icon slide"></div>
            <span class="left">{{ strings.slide }}</span>

            <div class="clear"></div>
        </div>

        <div class="option">
            <div class="left label">{{ strings.background_color }}:</div>
            <div class="left ui-color-field">
                <div class="color"></div>
                <div class="placeholder"></div>
            </div>
            <div class="clear"></div>
        </div>

    </div>

    <div class="window deck">
        <div class="title">
            <div class="left icon settings"></div>
            <span class="left">{{ strings.deck }}</span>

            <div class="clear"></div>
        </div>
    </div>

</div>