<div class="ui-toolbar">

    <div class="top">

        <div class="ui-button" id="newSlide">
            <div class="icon"></div>
            <span>{{ strings.new }}</span>
        </div>

        <div class="ui-button" id="play">
            <a target="_blank" href="{{ path('player_index', {id: deck_id}) }}">
                <div class="icon"></div>
                <span>{{ strings.play }}</span>
            </a>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button" id="newTextView">
            <div class="icon"></div>
            <span>{{ strings.textfield }}</span>
        </div>

        <div class="ui-button" id="newCode">
            <div class="icon"></div>
            <span>{{ strings.code }}</span>
        </div>

        <div class="ui-button ui-state-disabled" id="newShape">
            <div class="icon"></div>
            <span>{{ strings.shape }}</span>
        </div>

        <div class="ui-button" id="newImage">
            <div class="icon"></div>
            <span>{{ strings.image }}</span>
        </div>
        <input id="fileChooser" style="display: none" multiple type="file"/>

        <div class="ui-button" id="newTable">
            <div class="icon"></div>
            <span>{{ strings.table }}</span>
        </div>

        <div class="ui-button ui-state-disabled" id="newChart">
            <div class="icon"></div>
            <span>{{ strings.chart }}</span>
        </div>

        <div class="ui-button ui-state-disabled" id="newFormula">
            <div class="icon"></div>
            <span>{{ strings.formula }}</span>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button ui-state-disabled" id="pushToFront">
            <div class="icon"></div>
            <span>{{ strings.step_forward }}</span>
        </div>

        <div class="ui-button ui-state-disabled" id="pushToBack">
            <div class="icon"></div>
            <span>{{ strings.step_backward }}</span>
        </div>

        <div class="clear"></div>

    </div>

    <div class="clear"></div>

    <div class="bottom">

        <div class="ui-button-group fontFormatButton">
            <input style="display: none;" id="textFontSize" value="10"/>
        </div>

        <div class="ui-button-group textFormatButton">
            <button class="ui-button ui-state-disabled" id="textFormatBold" data-format="bold"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textFormatItalic" data-format="italic"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textFormatUnderline" data-format="underline"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textFormatStrikeout" data-format="strikeThrough"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textFormatSuper" data-format="superscript"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textFormatSub" data-format="subscript"><span></span></button>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button-group textAlignButton">
            <button class="ui-button ui-state-disabled" id="textAlignLeft" data-format="justifyLeft"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textAlignCenter" data-format="justifyCenter"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textAlignRight" data-format="justifyRight"><span></span></button>
            <button class="ui-button ui-state-disabled" id="textAlignJustify" data-format="justifyFull"><span></span></button>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button-group objectAlignButton">
            <button class="ui-button ui-state-disabled" id="alignLeft"><span></span></button>
            <button class="ui-button ui-state-disabled" id="alignHorizontalCenter"><span></span></button>
            <button class="ui-button ui-state-disabled" id="alignRight"><span></span></button>
            <button class="ui-button ui-state-disabled" id="alignTop"><span></span></button>
            <button class="ui-button ui-state-disabled" id="alignVerticalCenter"><span></span></button>
            <button class="ui-button ui-state-disabled" id="alignBottom"><span></span></button>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button-group objectDistributeButton">
            <button class="ui-button ui-state-disabled" id="distributeLeft"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeHorizontalCenter"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeRight"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeTop"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeVerticalCenter"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeBottom"><span></span></button>
        </div>

        <div class="ui-separator"></div>

        <div class="ui-button-group objectDistributeButton">
            <button class="ui-button ui-state-disabled" id="distributeHorizontalEqual"><span></span></button>
            <button class="ui-button ui-state-disabled" id="distributeVerticalEqual"><span></span></button>
        </div>

        <div class="ui-separator"></div>

        <div class="clear"></div>

    </div>

</div>
