{% spaceless %}
    <div class="chatMessage" data-sender="{{ sender.id }}" style="background-color: {{ color }}">

        <div class="profile">
            <img class="image" width="24" src="{{ image }}"/>
        </div>

        <div class="time">{{ time }}</div>
        <div class="username">{{ sender.username }}</div>

        <div class="message-container">
            <div class="text">{{ text }}</div>
        </div>

    </div>
{% endspaceless %}