{% extends '@HIPWaveSlidesCore/Widget/view_widget.html.twig' %}

{% block styles %}{{ parent() }} height: 100%; width: 100%;{% endblock %}

{% block classes %}{{ parent() }} uiSlide{% endblock %}

{% block custom_attributes %}data-index="{{ view.index }}"{% endblock %}

{% block inner %}
    <div class="note_slide">
        <div class="note"></div>
    </div>
    <div class="elements">
        {% if elements is defined %}
            {{ elements|raw }}
        {% endif %}
    </div>
{% endblock %}