{% extends '@HIPWaveSlidesCore/Widget/view_widget.html.twig' %}

{# override the style block because we dont want styles applied in the thumbnail #}
{% block styles %}{% endblock %}

{% block classes %}{{ parent() }} uiSlideThumbnail{% endblock %}

{% block role %}thumbnail{% endblock %}

{% block custom_attributes %}data-index="{{ view.index }}"{% endblock %}

{% block inner %}
    <div class="slide">
        <div class="thumbnail"></div>
    </div>
    <div class="number">{{ view.index + 1 }}</div>
{% endblock %}