{% spaceless %}
    <div class="userInfoWidget" data-id="{{ user.id }}" style="border-color: {{ user.color.toCSSRGB() }}">
        <div class="profile">
            <img width="24" src="{{ asset('bundles/hipwaveslides/images/profile_dummy.jpg') }}">
        </div>
        <div class="username">{{ user.name }}</div>
    </div>
{% endspaceless %}