{% spaceless %}

    {% import '@HIPWaveSlidesCore/Widget/widget_macros.twig' as widget %}

    <div style="{% block styles %}{{ widget.styles(view.styles)|replace({'  ': ''}) }}{% endblock %}" class="{% block classes %}uiView{% endblock %}" data-backgroundcolor="{{ view.styles["background-color"].toCSS() }}" data-id="{{ view.id }}" data-role="{% block role %}{{ view.role }}{% endblock %}" {% block custom_attributes %}{% endblock %}>{% block inner %}{% endblock %}</div>

{% endspaceless %}