{% macro styles(styles) %}
    {% spaceless %}
        {% set styles_string = "" %}
        {% for type, style in styles %}
            {% set styles_string = type ~ ": " ~ style.toCSS() ~ "; " ~ styles_string %}
        {% endfor %}
        {{ styles_string }}
    {% endspaceless %}
{% endmacro %}

{% macro content_cell(cell, index) %}
    {% spaceless %}
        {% import _self as widget %}
        <div class="cell content-cell{% if index == 0 %} first_cell{% endif %}" style="{{ widget.styles(cell.styles)|replace({'  ':''}) }}width: {{ cell.dimension.width }}px; height: {{ cell.dimension.height }}px;">
            <div class="content">{{ cell.value|raw }}</div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro grabber_cell(label, class) %}
    {% spaceless %}
        <div class="{{ class }} grabber cell">
            <div class="inner">
                <div class="remove button"></div>
                <div class="label">{{ label }}</div>
                <div class="add button"></div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
