@import "generic";

input {
  .helveticaNeueRegular(12px);
}

.ui-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9000;
}

.dialog {
  z-index: 90000;
  width: 450px;
  position: absolute;
  top: 120px;
  left: 50%;

  &#createDeckDialog {

    p.name {
      border: 1px solid @ui-state-normal-color;
      padding: 4px;
    }

    .format-options {
      margin-top: 5px;

      .buttonGroup {
        margin-top: 2px;

        .button {
          width: 40px;
          height: 30px;
          background-image: url('../images/format_icons.png');
          background-repeat: no-repeat;
          padding: 0;
          border: none;
          margin-right: 10px;
          float: left;

          &._4_3 {
            background-position: 0 -30px;
            &.ui-state-selected {
              background-position: 0 0px;
            }
          }

          &._16_10 {
            background-position: -41px -30px;
            &.ui-state-selected {
              background-position: -41px 0px;
            }
          }

          &._16_9 {
            background-position: -82px -30px;
            &.ui-state-selected {
              background-position: -82px 0px;
            }
          }

        }
      }

    }
  }

  &#shareDeckDialog {
    .inner {

      > .processing {
        width: 19px;
        height: 19px;
        margin-left: auto;
        margin-right: auto;
      }

    }
  }

  &#createDeckDialog, &#shareDeckDialog {

    .inner {
      position: relative;
      border: 2px solid @ui-state-selected-color;
      background-color: white;
      padding: 8px;
      left: -50%;

      .user-search {

        margin-bottom: 10px;

        .cellwrapper {

          &._85 {
            width: 85%;
            position: relative;

            .innerWrapper {
              border: 1px solid @ui-state-normal-color;
              padding: 4px;

              &.userSelected {
                padding: 1px 2px;
              }

              input {
                width: 100%;
              }

              #selectedUser {
                .user {
                  padding: 0;
                  cursor: default;
                }
              }

            }

            .searchResult {

              display: none;
              position: absolute;
              width: 100%;
              background-color: white;

              .user {
                cursor: pointer;
                border-left: 1px solid @ui-state-normal-color;
                border-right: 1px solid @ui-state-normal-color;

                &:last-child {
                  border-bottom: 1px solid @ui-state-normal-color;
                }

                .remove {
                  display: none;
                }

                &:hover {
                  background-color: @ui-light-color;
                }
              }
            }

          }

          &._15 {
            width: 15%;

            .innerWrapper {
              margin-left: 5px;

              .button.add {
                float: none;
                color: white;
                padding-left: 0;
                padding-right: 0;
                padding-top: 4px;
                padding-bottom: 4px;
                text-align: center;
                background-color: @ui-state-hover-color;
                border-color: @ui-state-selected-color;

                &:hover {
                  background-color: @ui-state-active-color;
                }

                &.ui-state-disabled {
                  opacity: 0.7;
                  cursor: default;

                  &:hover {
                    background-color: @ui-state-hover-color;
                  }
                }
              }
            }
          }

          float: left;

        }

      }

      .title {
        font-size: 14px;
        border-bottom: 1px solid @ui-state-normal-color;
        margin-bottom: 5px;
        padding-bottom: 2px;
      }

      .label {
        margin-bottom: 2px;
        margin-top: 6px;
      }

      input {
        display: block;
        font-size: 12px;
        border: none;
        font-family: Helvetica-Neue-Regular;
      }

      .button {
        padding: 3px 5px;
        cursor: pointer;
        border-style: solid;
        border-width: 1px;
        font-size: 12px;

        &.submit {
          color: white;
          float: left;
          margin-left: 10px;
          background-color: lighten(@wavered, 12%);
          border-color: @wavered;
          &:hover {
            background-color: lighten(@wavered, 5%);
          }
        }

        &.close {
          float: left;
          color: white;
          background-color: @ui-state-hover-color;
          border-color: @ui-state-selected-color;
          &:hover {
            background-color: @ui-state-active-color;
          }
        }
      }

    }

    .shares {
      margin-bottom: 10px;

      .user {
        border-bottom: 1px solid @ui-state-active-color;

        &.processing {
          .remove {
            background-color: white;

            .image {
              display: none;
            }

            img {
              display: block !important;
            }

          }

        }

        &:first-child {
          border-top: 1px solid @ui-state-active-color;
        }
      }
    }

    .user {
      padding: 3px;

      .profile {
        float: left;
        .ui-rounded-corners(5px);
        width: 21px;
        height: 21px;
        overflow: hidden;
        margin-right: 8px;
      }

      .username {
        line-height: 21px;
        float: left;
      }

      .remove {
        height: 19px;
        width: 19px;
        float: right;
        margin-top: 1px;
        .ui-rounded-corners(50%);
        background-color: @ui-light-color;
        cursor: pointer;

        .image {
          margin-left: 5px;
          margin-top: 5px;
          width: 9px;
          height: 9px;
          background-image: url("../images/closeIcons.png");
          background-repeat: no-repeat;
        }

        &:hover .image {
          background-position: 0 -11px;
        }
      }

    }

    .noResults {
      font-style: italic;
      margin-bottom: 3px;
      margin-top: 2px;
      padding-bottom: 2px;
      border-bottom: 1px solid @ui-state-active-color;
    }

  }

}

#contextMenu {
  padding: 4px;
  p {
    .ui-no-selection();
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 148px;
    text-align: center;
    font-size: 12px;
    border: 1px solid @ui-state-active-color;
    background-color: #ffffff;
    margin-bottom: 2px;
    line-height: 18px;
    cursor: pointer;

    &:hover {
      background-color: lighten(@ui-state-normal-color, 10%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: @ui-light-color;
  border-bottom: 1px solid @ui-state-selected-color;

  .inner {
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    .roundedIcon {
      float: left;
      border: 2px solid @ui-state-selected-color;
      background-repeat: no-repeat;
      background-position: center;
      height: 44px;
      width: 44px;
      .ui-rounded-corners(50%);
    }

    .account-info {
      float: left;

      .info {
        float: left;
        margin-top: 6px;
        text-align: left;

        .username {
          font-size: 15px;
          color: @ui-state-selected-color;
          font-weight: bold;
        }

        .editProfile {
          a {
            font-size: 12px;
            text-decoration: none;
            color: @ui-state-selected-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .profile-pic {
        background-size: 44px;
        overflow: hidden;
        margin-right: 11px;
      }

    }

    .teams, .invite {
      float: right;
      margin-left: 20px;

      .icon {
        float: none;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
      }

    }

    .teams .icon {
      background-image: url('../images/teamIcon.png');
    }

    .invite .icon {
      background-image: url('../images/inviteUser.png');
    }

  }

}

.wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .options {

    margin-top: 15px;
    margin-bottom: 15px;

    .option {
      float: left;

      &.search {
        margin-right: 30px;
        padding: 3px 4px;
        border: 1px solid @ui-state-normal-color;
        color: @ui-state-selected-color;
        height: 20px;

        &:hover {
          background-color: white;
          border-color: @ui-state-active-color;
        }

        &.selected {
          background-color: white;
          border-color: @ui-state-active-color;
        }

        input {
          float: left;
          height: 20px;
          width: 230px;
          font-size: 12px;
          border: none;
          color: @ui-state-selected-color;
          background-color: transparent;
        }
        .icon {
          margin-right: 5px;
          float: left;
          width: 20px;
          height: 20px;
          background-image: url("../images/searchIcon.png");
          background-position: center;
          background-repeat: no-repeat;
        }

        .clearer {
          float: right;
          width: 20px;
          height: 20px;
          background-image: url("../images/clearIcon.png");
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }

      &.filter {
        margin-right: 30px;
      }

      &.sort {

      }

      select {
        width: 180px;
      }
    }

  }

  .decks {

    .title {
      margin-bottom: 5px;
    }

    .row {
      padding-bottom: 10px;
    }

    .deck-info {
      float: left;
      margin-bottom: 4px;
      padding-top: 6px;
      padding-bottom: 4px;
      width: 208px;
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0);

      &:hover {
        background-color: @ui-light-color;
        border-color: @ui-state-active-color;
      }

      &.shared .deck-name {
        cursor: default;
      }

      &.add-deck-button._16_10 {
        .slide-preview {
          cursor: pointer;
          border-width: 2px;
          height: 108px;
          width: 174px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("../images/addDeckIcon.png");

          &:hover {
            border-color: @ui-state-selected-color;
          }

        }

        &:hover {
          background-color: transparent;
          border-color: rgba(0, 0, 0, 0);
        }

      }

      &.loaded .slide-preview {
        background-image: none;
      }

      &._4_3 {
        .slide-preview {
          margin-top: 0px;
          margin-bottom: 0px;
          .slide-content {
            height: 132px;
          }
        }
        .buttonContainer {
          padding-top: 20px;
        }
      }

      &._16_9 {
        .slide-preview {
          margin-top: 16px;
          margin-bottom: 17px;
          .slide-content {
            height: 99px;
          }
        }

        .buttonContainer {
          padding-top: 3px;
        }
      }

      &._16_10 {
        .slide-preview {
          margin-top: 11px;
          margin-bottom: 11px;
          .slide-content {
            height: 110px;
          }
        }

        .buttonContainer {
          padding-top: 8px;
        }
      }

      .slide-preview {

        background-color: #ffffff;
        background-image: url("../images/ajax-loader.gif");
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        width: 176px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid @ui-state-active-color;

        .slide-content {

          .uiSlide {
            .uiSlideElement {
              border: none;
              cursor: inherit;
            }
          }

        }

        .sharedLabel {
          background-image: url("../images/sharedLabel.png");
          background-repeat: no-repeat;
          background-position: right top;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 100;
        }

        .menuContainer {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 200;
          width: 100%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;

          .deck-menu {
            background-color: rgba(255, 255, 255, 0.85);
            height: 100%;

            .buttonContainer {

              width: 132px;
              margin: auto;

              .bottom {
                margin-left: 20px;
              }

              .button {
                float: left;
                margin-left: 8px;
                margin-right: 8px;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 28px;
                cursor: pointer;

                &:last-child {
                  margin-right: 0;
                }

                &:hover {
                  .icon {
                    background-color: @ui-light-color;
                    opacity: 1;
                  }
                }

                a {
                  text-decoration: none;
                  color: rgb(50, 50, 50);
                }

                .icon {
                  background-repeat: no-repeat;
                  background-image: url("../images/deck-icons.png");
                  border: 1px solid @ui-state-selected-color;
                  width: 26px;
                  height: 26px;
                  .ui-rounded-corners(50%);
                }

                .label {
                  text-align: center;
                  margin-top: 1px;
                  font-size: 11px;
                  color: rgb(50, 50, 50);
                }

                &.edit .icon {
                  background-position: 0px 0px;
                }

                &.play .icon {
                  background-position: -26px 0px;
                }

                &.export .icon {
                  background-position: -104px 0px;
                }

                &.share .icon {
                  background-position: -52px 0px;
                }

                &.delete .icon {
                  background-position: -78px 0px;
                }
              }

            }

            .info {
              margin-left: 2px;
              float: left;
              font-size: 12px;
            }
          }

        }

      }

      .deck-name {
        text-align: center;
        color: @ui-state-selected-color;
        margin-left: auto;
        margin-right: auto;
        width: 178px;
        height: 18px;
        padding-top: 2px;
        cursor: text;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 4px;
        white-space: nowrap;
        border: 1px solid rgba(0, 0, 0, 0);

        &.editable {
          width: 176px;
          background-color: white;
          border-color: @ui-state-active-color;
        }
      }

      .deck-created {
        margin-top: 5px;
        text-align: center;
        color: rgb(100, 100, 100);
        font-size: 10px;
        cursor: default;
      }
    }

  }
}

@import "slide";

.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid @ui-state-active-color;
  border-top: 0;
  background: white;
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0
}

.chosen-container a {
  cursor: pointer
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 3px 8px;
  height: 20px;
  line-height: 20px;
  border: 1px solid @ui-state-normal-color;
  text-decoration: none;
  color: @ui-state-selected-color;
  white-space: nowrap;

  &:hover {
    background-color: white;
    border-color: @ui-state-active-color;
  }

}

.chosen-container-single .chosen-default {
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/chosen-sprite.png) no-repeat 1px 4px;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap
}

.chosen-container-single .chosen-drop {
  background-clip: padding-box
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px
}

.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 240px;
  -webkit-overflow-scrolling: touch
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer
}

.chosen-container .chosen-results li.highlighted {
  background-color: rgba(0, 0, 0, 0.15);
}

.chosen-container .chosen-results li.result-selected {
  background-color: rgb(236, 97, 112);
  color: white;
}

.chosen-container-active .chosen-single {
  border: 1px solid @ui-state-active-color;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: @ui-state-active-color;
  background-color: white;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: 0;
  background: transparent
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -17px 4px
}

.chosen-container-active .chosen-choices {
  border-color: @ui-state-active-color;
}

.chosen-disabled {
  opacity: .5 !important;
  cursor: default
}

.chosen-disabled .chosen-single {
  cursor: default
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default
}