@import "generic";

@ui-toolbar-top-icon-sprite: url(../images/toolbarIconsTop.png);
@ui-toolbar-bottom-icon-sprite: url(../images/toolbarIcons.png) no-repeat 0 0;

@window-width: 1170px;

.resizeTooltip {
  position: absolute;
  z-index: 9999;
  font-size: 10px;
  background-color: @ui-state-normal-color;
  border: 1px solid @ui-state-active-color;
  padding: 2px 4px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.highlight {
  background-color: lighten(@wavered, 25%) !important;
}

.ui-selectable-helper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}

.ui-color-field {
  width: 25px;
  height: 15px;
  border: 1px solid @ui-state-selected-color;
  cursor: pointer;
  background-image: url('../images/opacitybackground.png');

  .color {
    width: 100%;
    height: 100%;
  }

  .placeholder {
    .ui-color-slider {
      margin-left: -1px;
      margin-top: 3px;
      width: 200px;
      z-index: 9999;
    }
  }

}

.ui-color-slider {

  position: absolute;
  background-color: white;
  padding: 7px;
  border: 1px solid @ui-state-active-color;
  .ui-shadow(0 2px 4px 0px rgba(0, 0, 0, 0.30));

  .row {
    position: relative;
    height: 17px;

    @canvasWidth: 160px;
    @canvasHeight: 10px;
    @canvasLeft: 0px;
    @canvasTop: 4px;

    input {
      font: 10px Helvetica-Neue-Light;
      color: @ui-state-selected-color !important;
      display: block;
      border: 1px solid @ui-state-selected-color;
      height: 14px;
      line-height: 15px;
      width: 23px;
      float: left;
      margin: 0;
      position: relative;
      margin-left: 9px;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .background {
      background-image: url('../images/opacitybackground.png');
      position: absolute;
      top: @canvasTop;
      left: @canvasLeft;
      width: @canvasWidth;
      height: @canvasHeight;
    }

    canvas {
      top: @canvasTop;
      left: @canvasLeft;
      width: @canvasWidth;
      height: @canvasHeight;
      position: absolute;
    }

    .slider {
      float: left;
      width: 160px;
      background: transparent;
      border: none;
      height: 10px;
      margin-top: 4px;
      .ui-rounded-corners(0);

      .ui-slider-handle {
        .ui-rounded-corners(0);
        background: @ui-state-selected-color;
        border: none;
        cursor: pointer;
        height: 12px;
        margin-left: -2px;
        top: -1px;
        width: 5px;
      }
    }
  }

}

.uiDropoverlay {

  &.dragtarget {
    display: block !important;
    .dragInfo {
      display: block !important;
    }
  }

  &.dragover {
    display: block !important;
    .dropInfo {
      display: block !important;
    }
  }

  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  display: none;

  .inner {
    pointer-events: none;
    position: relative;
    top: 150px;
    left: 200px;
    border: 10px double @ui-light-color;
    width: 380px;
    height: 280px;
    .ui-rounded-corners(50px);

    p {
      color: white;
      text-align: center;
      margin-top: 120px;
      font-size: 20px;
    }
  }

}

.ui-button {
  margin-right: 0;
}

.ui-color-picker {
  width: 25px;
  height: 15px;
  border: 1px solid @ui-state-selected-color;
  background-color: #ffffff;
  cursor: pointer;
}

.ui-spinner {
  float: left;
  height: 15px;
  width: 45px;
  border-radius: 0;
  display: block;
  border: 1px solid @ui-state-selected-color;

  a.ui-spinner-button.ui-state-active {
    background-color: @ui-state-active-color !important;
  }
  a.ui-spinner-button {
    width: 10px;
    border-radius: 0;
    border-left: 1px solid @ui-state-selected-color;
    background: none;
    background-color: @ui-state-normal-color;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    cursor: pointer;

    .ui-button-text {
      display: none;
    }

    &.ui-state-active {

    }

    &.ui-spinner-up {
      border-bottom: 1px solid @ui-state-selected-color;
      height: 7px;
      background-image: url("../images/arrowUp.png") !important;
    }

    &.ui-spinner-down {
      background-image: url("../images/arrowDown.png") !important;
    }
  }

  .ui-number-spinner {
    padding-left: 2px;
    font-family: Helvetica-Neue-Light;
    font-size: 10px;
    line-height: 12px;
    color: @ui-state-selected-color;
    display: block;
    height: 15px;
    width: 32px;
    margin: 0;
  }
}

.ui-state-normal {
  background: @ui-state-normal-color;
}

.ui-state-active {
  background: @ui-state-active-color //muss das important?;
}

.ui-state-hover {
  background: @ui-state-hover-color;
}

.ui-state-disabled {
  opacity: 0.6;
  cursor: default !important;
}

.ui-toolbar {

  overflow: hidden;
  width: @window-width;
  min-width: 100%;
  position: relative;
  .ui-no-selection;

  .ui-button {
    cursor: pointer;
    float: left;
    background: none;
    border: none;
  }

  .top {

    @spacing: 8px;

    a {
      text-decoration: none;
    }

    overflow: hidden;
    height: 54px;
    background-color: @wavered;
    border-bottom: 1px solid white;

    .ui-separator {
      background-color: white;
      float: left;
      height: 100%;
      width: 1px;
      margin-left: @spacing;
      margin-right: @spacing;
    }

    @icon-size: 27px;
    @icon-size: 27px;
    @spriteSize: 25px;
    @x-offset: (@icon-size - @spriteSize) / 2;
    @y-offset: (@icon-size - @spriteSize) / 2;
    @y-offset-active: (@spriteSize - @y-offset)*-1;

    .toolbar-icon-background(@i) {
      .icon {
        background-position: @x-offset + @spriteSize*-@i @y-offset;
      }
      &:active.ui-state-disabled .icon {
        background-position: @x-offset + @spriteSize*-@i @y-offset;
      }
      &:active .icon {
        background-position: @x-offset + @spriteSize*-@i  @y-offset-active;
      }
    }

    .ui-button#newSlide {
      .toolbar-icon-background(0);
    }
    .ui-button#newTextView {
      .toolbar-icon-background(1);
    }
    .ui-button#newCode {
      .toolbar-icon-background(2);
    }
    .ui-button#newShape {
      .toolbar-icon-background(3);
    }
    .ui-button#newImage {
      .toolbar-icon-background(4);
    }
    .ui-button#newTable {
      .toolbar-icon-background(5);
    }
    .ui-button#newChart {
      .toolbar-icon-background(6);
    }
    .ui-button#newFormula {
      .toolbar-icon-background(7);
    }
    .ui-button#pushToFront {
      .toolbar-icon-background(8);
    }
    .ui-button#pushToBack {
      .toolbar-icon-background(9);
    }
    .ui-button#play {
      .toolbar-icon-background(10);
    }

    .ui-button {
      font-size: 12px;
      margin-top: 5px;
      margin-left: @spacing;
      height: 45px;
      min-width: 43px;

      &:active .icon {
        margin-top: 0;
        background-color: white !important;
      }

      &:active.ui-state-disabled .icon {
        margin-top: 0;
        background-color: transparent !important;
      }

      &.ui-state-disabled .icon {
        margin-top: 0;
        background-color: transparent !important;
      }

      .icon {
        width: @icon-size;
        height: @icon-size;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        .ui-rounded-corners (@icon-size/4); //lol sieht auch gut aus
        background-image: @ui-toolbar-top-icon-sprite;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: transparent;
      }

      span {
        position: relative;
        color: white;
        display: block;
        font-size: 12px;
        margin-top: 2px;
      }

    }

  }

  .bottom {
    height: 28px;
    background-color: @ui-state-normal-color;
    border-bottom: 1px solid @ui-state-selected-color;
    padding-left: 8px;
    padding-right: 8px;

    .ui-separator {
      background-color: white;
      float: left;
      height: 100%;
      margin-left: 8px;
      margin-right: 8px;
      width: 1px;
    }

    .ui-button-group {
      overflow: hidden;
      float: left;

      .ui-button:not(:last-child) {
      }

      .ui-button:first-child {
      }

      .ui-button:last-child {
        margin-right: 0px;
      }

      .ui-button {
        height: 17px;
        font-size: 10px;
        width: 20px;
        text-align: center;
        margin-right: 1px;
        margin-top: 6px;
        background-color: @ui-state-normal-color;

        @gridWidth: 21px;

        &#textFormatBold span {
          background-position: 0 0;
        }

        &#textFormatItalic span {
          background-position: -@gridWidth 0;
        }

        &#textFormatUnderline span {
          background-position: -2*@gridWidth 0;
        }

        &#textFormatStrikeout span {
          background-position: -3*@gridWidth 0;
        }

        &#textFormatSuper span {
          background-position: -4*@gridWidth 0;
        }

        &#textFormatSub span {
          background-position: -5*@gridWidth 0;
        }

        &#textAlignLeft span {
          background-position: -6*@gridWidth 0;
        }

        &#textAlignCenter span {
          background-position: -7*@gridWidth 0;
        }

        &#textAlignRight span {
          background-position: -8*@gridWidth 0;
        }

        &#textAlignJustify span {
          background-position: -9*@gridWidth 0;
        }

        &#alignLeft span {
          background-position: -10*@gridWidth 0;
        }

        &#alignHorizontalCenter span {
          background-position: -11*@gridWidth 0;
        }

        &#alignRight span {
          background-position: -12*@gridWidth 0;
        }

        &#alignTop span {
          background-position: -13*@gridWidth 0;
        }

        &#alignVerticalCenter span {
          background-position: -14*@gridWidth 0;
        }

        &#alignBottom span {
          background-position: -15*@gridWidth 0;
        }

        &#distributeLeft span {
          background-position: -16*@gridWidth 0;
        }

        &#distributeHorizontalCenter span {
          background-position: -17*@gridWidth 0;
        }

        &#distributeRight span {
          background-position: -18*@gridWidth 0;
        }

        &#distributeTop span {
          background-position: -19*@gridWidth 0;
        }

        &#distributeVerticalCenter span {
          background-position: -20*@gridWidth 0;
        }

        &#distributeBottom span {
          background-position: -21*@gridWidth 0;
        }

        &#distributeHorizontalEqual span {
          background-position: -22*@gridWidth 0;
        }

        &#distributeVerticalEqual span {
          background-position: -23*@gridWidth 0;
        }

        &:hover {

          &.ui-state-disabled {
            .ui-state-normal;
          }
        }

        &:active {
          .ui-state-active;

          &.ui-state-disabled {
            .ui-state-normal;
          }
        }

        span {
          background: @ui-toolbar-bottom-icon-sprite;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 503px 17px;
          width: 100%;
          height: 17px;
          display: block;
        }

      }

    }

  }
}

.ui-main-view {

  width: @window-width;

  .uiSlideContainer {
    &.fullscreen {
      float: none;
      margin-top: 0 !important;
      margin-left: auto !important;
      margin-right: auto !important;
      border: none;

      .uiSlideElement {
        border-color: transparent;
      }

    }

    .uiSlide {
      background-color: white;

      .elements {
        height: 100%;
      }
    }

  }

}

.properties {

  margin-left: 5px;
  margin-top: 10px;
  width: 220px;

  .window {
    margin-bottom: 5px;
    padding: 8px;
    background-color: @ui-state-normal-color;
    font-size: 12px;
    line-height: 16px;

    div, span {
      color: darken(@ui-state-selected-color, 5%);
    }

    &.element {
      .panel {
        p.title {
          border-bottom: 1px solid @ui-state-active-color;
          padding-bottom: 2px;
        }
        margin-bottom: 10px;
        &.bounds {
          .label {
            width: 40px;
          }
          .ui-spinner {
            margin-right: 20px;
          }
        }

      }
    }

    &.connection {
      background-color: transparent;
      padding: 0;
    }

    .title {
      margin-bottom: 5px;
      span {
        font-family: Helvetica-Neue-Light;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
      }
      .icon {
        width: 19px;
        height: 19px;
        border: 1px solid @ui-state-selected-color;
        border-radius: 10px;
        margin-right: 8px;
        background-position: center;

        &.settings {
          background-image: url("../images/SettingsIcon.png");
        }

        &.trash {
          background-image: url("../images/TrashIconProperty.png");
        }

        &.slide {
          background-image: url("../images/SlideIconProperty.png");
        }

        &.text {
          background-image: @ui-toolbar-top-icon-sprite;
          background-position: -28px -53px;
        }

        &.trash:hover {
          background-color: @ui-state-hover-color;
          cursor: pointer;
        }

        &.right {
          margin-right: 0;
        }
      }
    }

    .label {
      width: 102px;
    }

    .option {

      margin-bottom: 5px;

      .ui-toggle-button {
        cursor: pointer;
        color: @ui-state-active-color;

        &.selected {
          cursor: default;
          color: @ui-state-selected-color;
        }
      }

      .ui-file-drop {
        width: 60px;
        height: 37px;
        background-color: @ui-state-hover-color;

        span {
          display: block;
          margin-top: 9px;
          text-align: center;
          font-size: 9px;
          line-height: 10px;
        }
      }

    }
  }

}

.uiSlideSidebar {

  position: relative;
  background-color: white;
  border-right: 1px solid @ui-state-selected-color;
  width: 125px;

  .uiSlideThumbnail:nth-child(1) {
    margin-top: 2px;
  }

  .uiSlideThumbnail {
    background-color: white;
    overflow: hidden;
    cursor: pointer;

    &.ui-selected {
      background-color: @ui-light-color;
      .slide {
        border-color: @ui-state-selected-color;
      }
    }

    .slide {
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      border: 2px solid @ui-state-active-color;
      background-color: white;
      overflow: hidden;
      .ui-no-selection;

      .uiSlideElement {
        border: none;
      }

      .selections {
        display: none;
      }

    }
    .number {
      text-align: center;
      font-size: 12px;
      font-family: Helvetica-Neue-Light;
      color: @ui-state-selected-color;
      line-height: 12px;
      margin-top: 4px;
      margin-bottom: 4px;
      .ui-no-selection;
      cursor: pointer;

    }

  }

}

.main {

  float: left;
  margin-top: 10px;
  margin-left: 136px;

  .connectedUsersPanel {

    margin-top: 6px;
    width: 806px;

    .users {

      .userInfoWidget {
        background-color: white;
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 4px;
        border-style: solid;
        border-width: 1px;
        height: 24px;

        .username {
          float: left;
          line-height: 24px;
          padding-right: 6px;
        }

        .profile {
          width: 24px;
          height: 24px;
          float: left;
          overflow: hidden;
          margin-right: 6px;
          border-left-style: solid;
          border-left-width: 4px;
          border-left-color: inherit;

          img {
            top: -3px;
            position: relative;
          }
        }

      }

    }
  }

  .uiSlideContainer {

    font-family: Helvetica-Neue-Regular;
    font-weight: normal;
    position: relative;
    background-color: white;
    overflow: hidden;
    border: 3px solid @ui-state-active-color;

    .flash-container {
      position: absolute;
      width: 100%;
      height: 25px;
      z-index: 9999;
      top: -40px;

      .message {
        text-align: center;
        color: white;
        line-height: 25px;
        background-color: rgba(red(@wavered), green(@wavered), blue(@wavered), 0.8);
        height: 25px;
        .ui-shadow(0 -3px 3px 4px rgba(0, 0, 0, 0.5));
      }
    }

    .uploads {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 999999;
      background-color: rgba(0, 0, 0, 0.5);
      padding-top: 6px;

      .upload {

        margin-left: 8px;
        margin-bottom: 6px;
        color: white;

        .info {
          margin-bottom: 5px;
          font-size: 11px;
        }

        .barwrapper {
          width: 300px;
          background-color: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.5);
          height: 7px;

          .bar {
            height: 7px;
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
          }

        }
      }

    }

    .uiSlide {
      transform: scale(1);
      transform-origin: 0 0;
    }

  }
}

@import "slide";

.chatContainer {

  .helveticaNeueRegular(12px);
  position: fixed;
  bottom: 0;
  right: 25px;
  width: 250px;
  z-index: 9999999;

  &.minimized {
    width: 200px;

    .chatTitleBar {
      .minimizeIndicator {
        display: none;
      }

      .muteButton {
        display: block;
      }
    }

    .chatBox {
      display: none;
    }
  }

  .chatTitleBar {
    position: relative;
    font-size: 12px;
    height: 25px;
    line-height: 30px;
    color: white;
    background-color: @wavered;
    padding-left: 6px;
    cursor: pointer;

    p {
      line-height: 25px;
    }

    .minimizeIndicator {
      position: absolute;
      right: 5px;
      bottom: 4px;
      display: block;
      background-color: white;
      width: 15px;
      height: 3px;
    }

    .muteButton {
      position: absolute;
      right: 5px;
      bottom: 3px;
      width: 18px;
      height: 18px;
      display: none;
      background-image: url("../images/speaker.png");
      background-repeat: no-repeat;

      &.muted {
        background-position: 0 -18px;
      }

    }

  }

  .chatBox {
    display: block;
    background-color: white;
    border-left: 1px solid @wavered;
    border-right: 1px solid @wavered;

    .conversations {
      height: 222px;
      border-top: 1px solid white;
      border-bottom: 1px solid @wavered;
      overflow-y: auto;

      .chatMessage {
        padding: 3px;
        border-bottom: 1px solid white;

        .profile {
          float: left;
          height: 24px;
          width: 24px;
          .ui-rounded-corners(50%);
          border: 1px solid rgba(255, 255, 255, 0.8);
          margin-right: 6px;
          overflow: hidden;

          img.image {
            top: -3px;
            position: relative;
          }
        }

        .username {
          font-weight: bold;
          margin-left: 30px;
          width: 180px;
          padding-top: 2px;
        }

        .message-container {
          margin-left: 30px;
          margin-bottom: 2px;
          .text {
            padding-top: 5px;
          }
        }

        .time {
          font-size: 10px;
          float: right;
          color: @ui-state-selected-color;
        }

      }
    }

    .chatInput {
      bottom: 0;
      height: 18px;
      line-height: 24px;
      padding: 5px;

      input {
        border: none;
        font-family: Helvetica-Neue-Regular;
        font-size: 12px;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

  }

}
