@background-color: #F6F6F6;

@wavered: rgb(231, 58, 76);
@ui-state-selected-color: rgb(86, 86, 86);
@ui-state-active-color: rgb(145, 145, 145);
@ui-state-hover-color: rgb(170, 170, 170);
@ui-state-normal-color: rgb(196, 196, 196);
@ui-light-color: rgb(220, 220, 220);

.ui-rounded-corners (@radius: 0px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.ui-shadow(@shadow) {
  box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
}

.ui-no-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ui-selection-inherit {
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
}

/* Regular */
@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue.otf);
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-Bold.otf);
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-Italic.otf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-BoldItalic.otf);
  font-style: italic;
  font-weight: bold;
}

/* Light */
@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(fonts/HelveticaNeue-Light.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(fonts/HelveticaNeue-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  position: relative;
  .helveticaNeueRegular(13px);
  background-color: @background-color;
  color: rgb(25, 25, 25);
}

a {
  color: rgb(25, 25, 25);
}

.helveticaNeueRegular(@fontSize) {
  font-family: Helvetica-Neue-Regular;
  font-size: @fontSize;
  font-stretch: normal;
}

.helveticaNeueLight(@fontSize) {
  font-family: Helvetica-Neue-Light;
  font-size: @fontSize;
  font-stretch: normal;
}

.clear {
  clear: both;
}