@import "generic";

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 210px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  background: url('../images/logo_circled.png') no-repeat center center;
  height: 120px;
  margin-bottom: 50px;
  margin-top: 60px;
}

input {
  display: block;
  .helveticaNeueLight(14px);
  border: 2px solid @ui-state-active-color;
  padding: 4px;
  color: @ui-state-selected-color;
  background-color: white;
  width: 198px;
  margin-bottom: 8px;
  height: 17px;
}

input#password {
  margin-bottom: 18px;
}

button {
  display: block;
  .helveticaNeueLight(14px);
  border: 2px solid @ui-state-selected-color;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  width: 210px;
  background-color: @ui-state-normal-color;
  color: @ui-state-selected-color;
  height: 29px;
}

.error {
  margin-top: 10px;
  text-align: center;
  color: @wavered;
}