@import "generic";
@import "slide";

body, html {
  background-color: #000000;
}

.waveloader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 215px;
}

.controls {
  z-index: 9999999;
  height: 40px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  .ui-rounded-corners(5px);
  position: absolute;
  top: 0;
  left: 50%;

  .button {
    height: 30px;
    margin-left: 10px;
    width: 30px;
    margin-top: 5px;
    float: left;
    background-image: url("../images/playerControlIcons.png");
    background-repeat: no-repeat;
    .ui-rounded-corners(5px);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.prev {
      background-position: -30px 0px;
    }

    &.next {
      background-position: 0px 0px;
    }

    &.fullscreen {
      float: right;
      margin-right: 20px;
      background-position: 0px -30px;
      &.maximized {
        background-position: -30px -30px;
      }
    }
  }
}

.deckWrapper {
  .slides {

    margin-left: auto;
    margin-right: auto;

    .uiSlide {
      position: relative;
      display: none;
      overflow: hidden;

      .uiSlideElement {
        cursor: default !important;
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &.noCursor {
    cursor: none !important;

    .slides {
      .uiSlide {
        .uiSlideElement {
          cursor: none !important;
        }
      }
    }
  }

}