@import "generic";

@ui-resizable-handler-icon: url(../images/resizeHandle.png) no-repeat center center;

.uiSlideElement {
  position: absolute !important;
  cursor: pointer;
  z-index: 0;
  border: 1px solid @ui-state-normal-color;
  color: rgb(25, 25, 25);

  .underline {
    text-decoration: underline;
  }

  .strikeout {
    text-decoration: line-through;
  }

  .underline.strikeout {
    text-decoration: line-through underline;
  }

  .bold{
    font-weight: bold;
  }

  .italic{
    font-style: italic;
  }

  .sub, .super {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .super {
    top: -0.5em;
  }

  .sub {
    bottom: -0.25em;
  }

  .content {
    overflow: hidden;
    &.editable {
      cursor: text;
    }
  }

  .selections {
    position: absolute;
    cursor: default;
    left: 0;
    top: -15px;
    .userSelection {
      float: left;
      height: 7px;
      width: 7px;
      cursor: help;
      border: 1px solid rgba(0, 0, 0, 0.4);
      margin-right: 5px;
      .ui-rounded-corners(50%);
    }
  }

  .ui-icon-gripsmall-diagonal-se {
    display: none !important;
  }

  &:hover {
    border-color: @ui-state-hover-color;
  }

  &.ui-selecting {
    border-color: @ui-state-hover-color;
  }

  &.ui-selected {
    border-color: @ui-state-selected-color;

    .ui-resizable-handle {
      background: @ui-resizable-handler-icon;
    }

    .ui-resizable-handle.ui-resizable-se {
      display: block !important;
      bottom: -5px;
      height: 9px;
      right: -5px;
      width: 9px;
    }
  }

  &.uiScriptView {
    .content {
      unicode-bidi: embed;
      font-family: monospace;
      line-height: 16px;
      white-space: pre;
      -moz-tab-size: 4;
      -o-tab-size: 4;
      -webkit-tab-size: 4;
      -ms-tab-size: 4;
      tab-size: 4;
      height: auto !important;
      padding: 5px;
    }
  }

  &.uiTextView {
    display: inline-block;
    word-wrap: break-word;
    min-width: 60px;
    line-height: 16px;
    height: auto !important;

    .content {
      padding: 5px;
    }

  }

  &.uiImageView {
    border-color: rgba(0, 0, 0, 0);

    &.ui-selected {
      border-color: @ui-state-selected-color;
    }

    .content {
      width: 100%;
      height: 100%;
      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.uiTableView {

    border: none;
    top: 20px;
    left: 20px;

    > .content {
      overflow: visible;
    }

    &:hover {
      .grabber {
        opacity: 0.7;
      }
    }

    &.ui-selected {
      .grabber {
        opacity: 1;

        &:hover {
          .inner {
            .add, .remove {
              display: block;
            }
          }
        }

      }
    }

    .grabber {
      opacity: 0;
      float: left;
      background-color: #EC6170;

      .ui-no-selection;

      .inner {

        text-align: center;
        position: relative;

        .label {
          color: white;
          font-size: 9px;
          line-height: 13px;
        }

        .button {
          width: 12px;
          height: 12px;
          position: absolute;
          opacity: 0.8;
          background-color: rgba(255, 255, 255, 0.4);
          background-image: url('../images/addRemoveButton.png');
          background-repeat: no-repeat;
          display: none;
          cursor: pointer;
        }

        .add {
          background-position: 0 -12px;
        }

        .remove {
          background-position: 0 0;
        }

      }

      &.col-grabber {
        height: 14px;

        margin-bottom: 1px;
        margin-right: 1px;

        .inner {
          height: 100%;
          line-height: 18px;

          .add {
            top: 1px;
            right: 1px;
          }
          .remove {
            left: 1px;
            top: 1px;
          }
        }
      }

      &.row-grabber {
        width: 14px;
        margin-right: 1px;

        .inner {
          height: 100%;

          .add {
            bottom: 1px;
            left: 1px;
          }

          .remove {
            top: 1px;
            left: 1px;
          }

          .label {
            position: relative;
            display: block;
          }

        }
      }

      &.empty {
        width: 16px;
        height: 14px;
        background-color: transparent;
      }

    }

    .content-row {
      position: relative;

      &:not(.first_row) .content-cell {
        border-top: none !important;
      }

      &.first_row .row-grabber {
        margin-top: 1px;
      }
    }

    .content-cell {
      cursor: default;
      float: left;
      position: relative;

      .ui-no-selection;

      &.ui-selected {
        .ui-selection-inherit;
        .ui-shadow(inset 0 0 4px rgba(111, 194, 255, 0.87));
      }

      &:not(.first_cell) {
        border-left: none !important;
      }

      &.editable {
        cursor: default;

        .content {
          cursor: text;
          .ui-selection-inherit;
        }

      }

      .content {
        text-align: center;
        cursor: default;
        line-height: 12px;
        outline: 0;
        position: relative;
        .ui-no-selection;
        word-wrap: break-word;
        overflow: hidden;
      }

      .ui-resizable-e {
        width: 9px;
      }

      .ui-resizable-s {
        height: 9px;
      }

      .ui-resizable-handle {
        background-image: none;

        &.hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

}