<!DOCTYPE html>
<html style="{% block html_style %}{% endblock %}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body style="{% block body_style %}{% endblock %}">
{% block body %}{% endblock %}
</body>
</html>