{% extends "::base.html.twig" %}

{% block head %}

    {% block title %}{% endblock %}

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

{% endblock %}

{% block body %}{% endblock %}

