<div class="options">
    <div class="option search">
        <div class="icon"></div>
        <input type="text" placeholder="Search.."/>

        <div class="clearer" style="display: none"></div>
        <div class="clear"></div>
    </div>

    <div class="option filter">
        <select id="deck-filter">
            <option {% if(app.user.dashboardSettings.viewOption == "view_all") %}selected="selected" {% endif %}value="view_all">All decks</option>
            <option {% if(app.user.dashboardSettings.viewOption == "view_my") %}selected="selected" {% endif %}value="view_my">My decks</option>
            <option {% if(app.user.dashboardSettings.viewOption == "view_shared") %}selected="selected" {% endif %}value="view_shared">Shared decks</option>
        </select>
    </div>

    <div class="option sort">
        <select id="deck-sort">
            <option {% if(app.user.dashboardSettings.sortOption == "sort_name") %}selected="selected" {% endif %}value="sort_name">Sort by name</option>
            <option {% if(app.user.dashboardSettings.sortOption == "sort_date") %}selected="selected" {% endif %}value="sort_date">Sort by date</option>
        </select>
    </div>

    <div class="clear"></div>
</div>