<div style="display: none" data-format="{{ deck.format }}" data-id="{{ deck.id }}" data-created="{{ deck.created.timestamp }}" class="deck-info {{ deck.format }} {% if shared %} shared{% endif %}">
    <div class="slide-preview">
        {% if shared %}
            <div class="sharedLabel"></div>
        {% endif %}
        <div class="slide-content"></div>
        <div class="menuContainer"></div>
    </div>
    <div class="deck-name">{{ deck.name }}</div>
    <div class="deck-created">{{ deck.created.format('d M. Y H:i') }}</div>
</div>