<div id="deck-menu" style="display: none;" class="deck-menu">

    <div class="buttonContainer">

        <div class="top">
            <div class="button edit">
                <a target="_blank" href="#">
                    <div class="icon"></div>
                    <div class="label">Edit</div>
                </a>
            </div>

            <div class="button play">
                <a target="_blank" href="#">
                    <div class="icon"></div>
                    <div class="label">Play</div>
                </a>
            </div>

            <div class="button export">
                <a target="_blank" href="#">
                    <div class="icon"></div>
                    <div class="label">Export</div>
                </a>
            </div>
            <div class="clear"></div>

        </div>


        <div class="bottom">

            <div class="button share">
                <div class="icon"></div>
                <div class="label">Share</div>
            </div>

            <div class="button delete">
                <div class="icon"></div>
                <div class="label">Delete</div>
            </div>
            <div class="clear"></div>

        </div>

    </div>

</div>