<div style="display: none" id="createDeckDialog" class="dialog">
    <div class="inner">
        <p class="title">Create a deck:</p>
        <p class="label">Name:</p>
        <p class="name"><input type="text" name="name"></p>

        <div class="format-options">
            <p>Size:</p>

            <div class="buttonGroup">
                <div data-format="_4_3" class="button _4_3 ui-state-selected"></div>
                <div data-format="_16_10" class="button _16_10"></div>
                <div data-format="_16_9" class="button _16_9"></div>
                <div class="clear"></div>
            </div>

        </div>

        {{ include ('HIPWaveSlidesBundle:Dashboard:share_deck_content.html.twig') }}

        <div class="shares"></div>

        <div class="button close">Close</div>
        <div class="button submit">Save</div>
        <div class="clear"></div>
    </div>
</div>
