<div style="display: none" id="shareDeckDialog" class="dialog">
    <div class="inner">
        <p class="title">Share:</p>

        {{ include ('HIPWaveSlidesBundle:Dashboard:share_deck_content.html.twig') }}
        <div class="processing"><img width="19" height="19" src="{{ asset('bundles/hipwaveslides/images/processing.gif') }}"/></div>
        <div class="shares"></div>
        <div class="button close">Close</div>
        <div class="clear"></div>
    </div>
</div>
