{% extends "HIPWaveSlidesBundle::base.html.twig" %}

{% block title %}WaveSlides Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/highlightjs/styles/default.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/build/out/dashboard.lib.build.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/DashboardConfig.js') }}"></script>
    <script type="text/javascript">
        var USER_ID = "{{ app.user.id }}";
        var SESSION_ID = "{{ app.user.session.id }}";
    </script>
{% endblock %}

{% block body %}

    <div style="display: none" class="ui-overlay"></div>

    {{ include ('HIPWaveSlidesBundle:Dashboard:deck_menu.html.twig') }}
    {{ include ('HIPWaveSlidesBundle:Dashboard:dialog_create_deck.html.twig') }}
    {{ include ('HIPWaveSlidesBundle:Dashboard:dialog_share_deck.html.twig') }}

    <div class="header">
        <div class="inner">

            <div class="account-info">
                <div class="profile">
                    <div style="background-image: url({{ asset('bundles/hipwaveslides/images/profile_dummy.jpg') }})" class="roundedIcon profile-pic"></div>
                    <div class="info">
                        <div class="username">{{ app.user.username }}</div>
                        <div class="editProfile"><a href="#">Edit profile</a></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="invite">
                <div class="icon roundedIcon"></div>
            </div>

            <div class="teams">
                <div class="icon roundedIcon"></div>
            </div>

            <div class="clear"></div>

        </div>
    </div>

    <div class="wrapper">
        {{ include ('HIPWaveSlidesBundle:Dashboard:dashboard_options.html.twig') }}
        <div class="decks">{{ decks|raw }}</div>
    </div>

{% endblock %}
