<p class="label">Share with:</p>

<div class="user-search">

    <div class="cellwrapper _85">
        <div class="innerWrapper">
            <input type="text" placeholder="Username or email address" name="name">

            <div id="selectedUser"></div>
        </div>
        <div class="searchResult"></div>
    </div>

    <div class="cellwrapper _15">
        <div class="innerWrapper">
            <div class="button add">Add</div>
        </div>
    </div>

    <div class="clear"></div>
</div>