{% for user in users %}
    {% if user.id != app.user.id %}
        <div class="user" data-id="{{ user.id }}">
            <div class="remove">
                <div class="image"></div>
                <img style="display: none" width="19" height="19" src="{{ asset('bundles/hipwaveslides/images/processing.gif') }}"/>
            </div>
            <div class="profile"><img width="21" src="{{ asset('bundles/hipwaveslides/images/profile_dummy.jpg') }}"/></div>
            <div class="username">{{ user.username }}</div>
            <div class="clear"></div>
        </div>
    {% endif %}
{% endfor %}