{% extends "HIPWaveSlidesBundle::base.html.twig" %}

{% block title %}{{ deck.name }}{% endblock %}

{% block body %}

    <div style="display: none" class="controls">
        <div class="button prev"></div>
        <div class="button next"></div>
        <div class="button fullscreen"></div>
        <div class="clear"></div>
    </div>

    <div style="display: none" class="deckWrapper">
        {% block slides %}<div class="slides"></div>{% endblock %}
    </div>
{% endblock %}
