{% extends "@HIPWaveSlides/Player/abstract_index.html.twig" %}

{% block html_style %}background-color: white;{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hipwaveslides/css/player.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/hipwaveslides/css/lib/highlightjs/styles/default.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/build/out/player.lib.build.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/PlayerConfig.js') }}"></script>

    <script type="text/javascript">
        var DECK_ID = "{{ deck.id }}";
        var USER_ID = "{{ app.user.id }}";
        var SESSION_ID = "{{ app.user.session.id }}";
    </script>
{% endblock %}

{% block body_style %}background-color: white;{% endblock %}

{% block body %}
    <div class="waveloader"><img src="{{ asset('bundles/hipwaveslides/images/waveloader.gif') }}"/></div>
    {{ parent() }}
{% endblock %}