{% extends "@HIPWaveSlides/Player/abstract_index.html.twig" %}

{% block stylesheets %}
    <link href="assets/css/player.css" rel="stylesheet">
    <link href="assets/css/highlightjs/default.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="assets/js/player.lib.build.js"></script>
    <script type="text/javascript" src="assets/js/player.build.js"></script>
    <script type="text/javascript">
        var DECK_ID = "";
        var USER_ID = "";
        var SESSION_ID = "";
    </script>
{% endblock %}

{% block slides %}
    <div data-format="{{ deck.format }}" class="slides">{{ slides|raw }}</div>
{% endblock %}