{% extends "HIPWaveSlidesBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}WaveSlides Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/hipwaveslides/css/login.less') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/hipwaveslides/js/lib/less.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="logo"></div>

        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form_row">
                <div class="widget">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>

            <div class="form_row">
                <div class="widget">
                    <input type="password" id="password" name="_password" required="required"/>
                </div>
            </div>

            <button type="submit" id="_submit" name="_submit">Login</button>

            {% if error %}
                <div class="error">{{ error|trans }}</div>
            {% endif %}
        </form>

    </div>
{% endblock %}
