* {
  margin: 0;
  padding: 0;
}

@font-family: 'Helvetica', 'Verdana', 'sans-serif';
@font-size: 18px;
@font-weight: 300;
@background-color: #FAFAFA;
@font-color: #333;

body {
  font-family: @font-family;
  background-color: @background-color;
  font-size: @font-size;
  font-weight: @font-weight;
  line-height: 21px;
  color: @font-color;
}

.clear {
  clear: both;
}

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 200px;
  background-image: url('../images/waveslideslogo.png');
  background-repeat: no-repeat;
  background-position: center 35px;

  .subtitle {
    top: 128px;
    position: relative;
    font-size: 21px;
    text-align: center;
    bottom: 0;
  }
}

.main {

  width: 800px;
  margin-left: auto;
  margin-right: auto;

  .left {
    float: left;
    width: 400px;
  }
  .right {
    float: right;
    width: 400px;
  }

  .teaser {
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 40px;

    p {
      position: relative;
      display: inline-block;
      padding-top: 18px;
    }

    img {
      margin-right: 35px;
      float: left;
    }
  }

}

@red: rgb(231, 58, 76);

.line {
  height: 40px;
  width: 100%;
  background-color: @red;
  margin-top: 30px;
}