* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica', 'Verdana', 'sans-serif';
  background-color: #fafafa;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: #333333;
}
.clear {
  clear: both;
}
.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 200px;
  background-image: url('../images/waveslideslogo.png');
  background-repeat: no-repeat;
  background-position: center 35px;
}
.header .subtitle {
  top: 128px;
  position: relative;
  font-size: 21px;
  text-align: center;
  bottom: 0;
}
.main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.main .left {
  float: left;
  width: 400px;
}
.main .right {
  float: right;
  width: 400px;
}
.main .teaser {
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 40px;
}
.main .teaser p {
  position: relative;
  display: inline-block;
  padding-top: 18px;
}
.main .teaser img {
  margin-right: 35px;
  float: left;
}
.line {
  height: 40px;
  width: 100%;
  background-color: #e73a4c;
  margin-top: 30px;
}
