{% extends '@HIPWaveSlidesCore/Widget/SlideElements/slide_element.html.twig' %}

{% block classes %}{{ parent() }} uiImageView{% endblock %}

{% block custom_attributes %}data-height="{{ view.originalHeight }}" data-width="{{ view.originalWidth }}"{% endblock %}

{% block content %}<img src="{{ imagePath }}/{{ view.id }}/{{ view.image.filename }}"/>{% endblock %}