{% extends '@HIPWaveSlidesCore/Widget/SlideElements/slide_element.html.twig' %}

{% block classes %}{{ parent() }} uiScriptView{% endblock %}

{% block custom_attributes %}data-langvalue="{{ view.language.value }}" data-langname="{{ view.language.name }}" data-langcss="{{ view.language.css }}"{% endblock %}

{% block content_classes %}{{ parent() }} {{ view.language.css }}{% endblock %}

{% block content %}{{ view.text|raw }}{% endblock %}