{% extends '@HIPWaveSlidesCore/Widget/view_widget.html.twig' %}

{% block styles %}{{ parent() }} top: {{ view.bounds.y }}px; left: {{ view.bounds.x }}px; width: {{ view.bounds.width }}px; height: {{ view.bounds.height }}px; z-index: {{ view.z }}{% endblock %}

{% block classes %}{{ parent() }} uiSlideElement{% endblock %}

{% block inner %}
    <div class="selections"></div>
    <div style="opacity: {{ view.alpha }};" class="{% block content_classes %}content{% endblock %}" {% block attributes %}{% endblock %}>{% block content %}{% endblock %}</div>
{% endblock %}