{% extends '@HIPWaveSlidesCore/Widget/SlideElements/slide_element.html.twig' %}

{% import '@HIPWaveSlidesCore/Widget/widget_macros.twig' as widget %}

{% block classes %}{{ parent() }} uiTableView{% endblock %}

{% block content %}

    <div class="grabber-row">
        <div class="empty grabber"></div>
        {% for row in view.rows|slice(0, 1) %}
            {% for index, cell in row.cells %}
                {{ widget.grabber_cell(index|num2char, "col-grabber") }}
            {% endfor %}
        {% endfor %}
        <div class="clear"></div>
    </div>

    {% for index, row in view.rows %}
        <div class="content-row{% if index == 0 %} first_row{% endif %}">
            {{ widget.grabber_cell(index, "row-grabber") }}
            {% for index, cell in row.cells %}
                {{ widget.content_cell(cell, index) }}
            {% endfor %}
            <div class="clear"></div>
        </div>
    {% endfor %}

{% endblock %}