.ui-no-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.ui-selection-inherit {
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
}
/* Regular */
@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue.otf);
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-Bold.otf);
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
}
@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-Italic.otf);
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url(fonts/HelveticaNeue-BoldItalic.otf);
  font-style: italic;
  font-weight: bold;
}
/* Light */
@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(fonts/HelveticaNeue-Light.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Helvetica-Neue-Light;
  src: url(fonts/HelveticaNeue-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body {
  position: relative;
  font-family: Helvetica-Neue-Regular;
  font-size: 13px;
  font-stretch: normal;
  background-color: #f6f6f6;
  color: #191919;
}
a {
  color: #191919;
}
.clear {
  clear: both;
}
.uiSlideElement {
  position: absolute !important;
  cursor: pointer;
  z-index: 0;
  border: 1px solid #c4c4c4;
  color: #191919;
}
.uiSlideElement .underline {
  text-decoration: underline;
}
.uiSlideElement .strikeout {
  text-decoration: line-through;
}
.uiSlideElement .underline.strikeout {
  text-decoration: line-through underline;
}
.uiSlideElement .bold {
  font-weight: bold;
}
.uiSlideElement .italic {
  font-style: italic;
}
.uiSlideElement .sub,
.uiSlideElement .super {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.uiSlideElement .super {
  top: -0.5em;
}
.uiSlideElement .sub {
  bottom: -0.25em;
}
.uiSlideElement .content {
  overflow: hidden;
}
.uiSlideElement .content.editable {
  cursor: text;
}
.uiSlideElement .selections {
  position: absolute;
  cursor: default;
  left: 0;
  top: -15px;
}
.uiSlideElement .selections .userSelection {
  float: left;
  height: 7px;
  width: 7px;
  cursor: help;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.uiSlideElement .ui-icon-gripsmall-diagonal-se {
  display: none !important;
}
.uiSlideElement:hover {
  border-color: #aaaaaa;
}
.uiSlideElement.ui-selecting {
  border-color: #aaaaaa;
}
.uiSlideElement.ui-selected {
  border-color: #565656;
}
.uiSlideElement.ui-selected .ui-resizable-handle {
  background: url(../images/resizeHandle.png) no-repeat center center;
}
.uiSlideElement.ui-selected .ui-resizable-handle.ui-resizable-se {
  display: block !important;
  bottom: -5px;
  height: 9px;
  right: -5px;
  width: 9px;
}
.uiSlideElement.uiScriptView .content {
  unicode-bidi: embed;
  font-family: monospace;
  line-height: 16px;
  white-space: pre;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  -ms-tab-size: 4;
  tab-size: 4;
  height: auto !important;
  padding: 5px;
}
.uiSlideElement.uiTextView {
  display: inline-block;
  word-wrap: break-word;
  min-width: 60px;
  line-height: 16px;
  height: auto !important;
}
.uiSlideElement.uiTextView .content {
  padding: 5px;
}
.uiSlideElement.uiImageView {
  border-color: rgba(0, 0, 0, 0);
}
.uiSlideElement.uiImageView.ui-selected {
  border-color: #565656;
}
.uiSlideElement.uiImageView .content {
  width: 100%;
  height: 100%;
}
.uiSlideElement.uiImageView .content img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.uiSlideElement.uiTableView {
  border: none;
  top: 20px;
  left: 20px;
}
.uiSlideElement.uiTableView > .content {
  overflow: visible;
}
.uiSlideElement.uiTableView:hover .grabber {
  opacity: 0.7;
}
.uiSlideElement.uiTableView.ui-selected .grabber {
  opacity: 1;
}
.uiSlideElement.uiTableView.ui-selected .grabber:hover .inner .add,
.uiSlideElement.uiTableView.ui-selected .grabber:hover .inner .remove {
  display: block;
}
.uiSlideElement.uiTableView .grabber {
  opacity: 0;
  float: left;
  background-color: #EC6170;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.uiSlideElement.uiTableView .grabber .inner {
  text-align: center;
  position: relative;
}
.uiSlideElement.uiTableView .grabber .inner .label {
  color: white;
  font-size: 9px;
  line-height: 13px;
}
.uiSlideElement.uiTableView .grabber .inner .button {
  width: 12px;
  height: 12px;
  position: absolute;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url('../images/addRemoveButton.png');
  background-repeat: no-repeat;
  display: none;
  cursor: pointer;
}
.uiSlideElement.uiTableView .grabber .inner .add {
  background-position: 0 -12px;
}
.uiSlideElement.uiTableView .grabber .inner .remove {
  background-position: 0 0;
}
.uiSlideElement.uiTableView .grabber.col-grabber {
  height: 14px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.uiSlideElement.uiTableView .grabber.col-grabber .inner {
  height: 100%;
  line-height: 18px;
}
.uiSlideElement.uiTableView .grabber.col-grabber .inner .add {
  top: 1px;
  right: 1px;
}
.uiSlideElement.uiTableView .grabber.col-grabber .inner .remove {
  left: 1px;
  top: 1px;
}
.uiSlideElement.uiTableView .grabber.row-grabber {
  width: 14px;
  margin-right: 1px;
}
.uiSlideElement.uiTableView .grabber.row-grabber .inner {
  height: 100%;
}
.uiSlideElement.uiTableView .grabber.row-grabber .inner .add {
  bottom: 1px;
  left: 1px;
}
.uiSlideElement.uiTableView .grabber.row-grabber .inner .remove {
  top: 1px;
  left: 1px;
}
.uiSlideElement.uiTableView .grabber.row-grabber .inner .label {
  position: relative;
  display: block;
}
.uiSlideElement.uiTableView .grabber.empty {
  width: 16px;
  height: 14px;
  background-color: transparent;
}
.uiSlideElement.uiTableView .content-row {
  position: relative;
}
.uiSlideElement.uiTableView .content-row:not(.first_row) .content-cell {
  border-top: none !important;
}
.uiSlideElement.uiTableView .content-row.first_row .row-grabber {
  margin-top: 1px;
}
.uiSlideElement.uiTableView .content-cell {
  cursor: default;
  float: left;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.uiSlideElement.uiTableView .content-cell.ui-selected {
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
  box-shadow: inset 0 0 4px rgba(111, 194, 255, 0.87);
  -webkit-box-shadow: inset 0 0 4px rgba(111, 194, 255, 0.87);
  -moz-box-shadow: inset 0 0 4px rgba(111, 194, 255, 0.87);
}
.uiSlideElement.uiTableView .content-cell:not(.first_cell) {
  border-left: none !important;
}
.uiSlideElement.uiTableView .content-cell.editable {
  cursor: default;
}
.uiSlideElement.uiTableView .content-cell.editable .content {
  cursor: text;
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  -o-user-select: inherit;
  user-select: inherit;
}
.uiSlideElement.uiTableView .content-cell .content {
  text-align: center;
  cursor: default;
  line-height: 12px;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  word-wrap: break-word;
  overflow: hidden;
}
.uiSlideElement.uiTableView .content-cell .ui-resizable-e {
  width: 9px;
}
.uiSlideElement.uiTableView .content-cell .ui-resizable-s {
  height: 9px;
}
.uiSlideElement.uiTableView .content-cell .ui-resizable-handle {
  background-image: none;
}
.uiSlideElement.uiTableView .content-cell .ui-resizable-handle.hover {
  background-color: rgba(0, 0, 0, 0.2);
}
body,
html {
  background-color: #000000;
}
.waveloader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 215px;
}
.controls {
  z-index: 9999999;
  height: 40px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 50%;
}
.controls .button {
  height: 30px;
  margin-left: 10px;
  width: 30px;
  margin-top: 5px;
  float: left;
  background-image: url("../images/playerControlIcons.png");
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.controls .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.controls .button.prev {
  background-position: -30px 0px;
}
.controls .button.next {
  background-position: 0px 0px;
}
.controls .button.fullscreen {
  float: right;
  margin-right: 20px;
  background-position: 0px -30px;
}
.controls .button.fullscreen.maximized {
  background-position: -30px -30px;
}
.deckWrapper .slides {
  margin-left: auto;
  margin-right: auto;
}
.deckWrapper .slides .uiSlide {
  position: relative;
  display: none;
  overflow: hidden;
}
.deckWrapper .slides .uiSlide .uiSlideElement {
  cursor: default !important;
  border-color: rgba(0, 0, 0, 0);
}
.deckWrapper.noCursor {
  cursor: none !important;
}
.deckWrapper.noCursor .slides .uiSlide .uiSlideElement {
  cursor: none !important;
}
